[*]
indent_style = space
charset = utf-8
end_of_line = lf
indent_size = 2

[*.{js,jsx,ts,tsx,vue}]

trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 160

[*.md]
trim_trailing_whitespace = false
