backend/HELP.md
backend/.settings
backend/.classpath
backend/.project

# IDEs
.vscode
.idea

# Java
# Compiled class file
target

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar


.DS_Store
frontend/dist
frontend/node_modules


# local env files
.env.local
.env.*.local
backend/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# id_rsa
id_rsa
node_modules
