version: "3.4"

services:
  database:
    image: mongo:latest
    container_name: diveni_database
    volumes:
      - mongo-volume:/data/db
    restart: unless-stopped
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/diveni --quiet
      interval: 60s
      timeout: 30s
      retries: 3
      start_period: 30s

  backend:
    image: ghcr.io/sybit-education/diveni-backend:latest
    depends_on:
      - database
    container_name: diveni_backend
    restart: unless-stopped
    environment:
      - "SPRING_PROFILES_ACTIVE=prod"
    env_file:
      - ./backend/.env

  frontend:
    image: ghcr.io/sybit-education/diveni-frontend:latest
    depends_on:
      - backend
    container_name: diveni_frontend
    restart: unless-stopped

  proxy:
    image: ghcr.io/sybit-education/diveni-proxy:latest
    depends_on:
      - frontend
      - backend
      - database
    container_name: diveni_proxy
    restart: unless-stopped
    ports:
      - "80:80"

volumes:
  mongo-volume:
