version: "3.4"

services:
  database:
    image: mongo:latest
    container_name: diveni_database
    volumes:
      - mongo-volume:/data/db
    restart: unless-stopped
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/diveni --quiet
      interval: 60s
      timeout: 30s
      retries: 3
      start_period: 30s

  backend:
    depends_on:
      - database
    build:
      ./backend
    container_name: diveni_backend
    restart: unless-stopped
    environment:
      - "SPRING_PROFILES_ACTIVE=prod"
    env_file:
      - ./backend/.env
    healthcheck:
      test: "curl --fail --silent localhost:9090/actuator/health | grep UP || exit 1"
      interval: 60s
      timeout: 30s
      retries: 3
      start_period: 30s

  frontend:
    depends_on:
      - backend
    build:
      ./frontend
    container_name: diveni_frontend
    restart: unless-stopped

  proxy:
    depends_on:
        - frontend
        - backend
        - database
    build: ./proxy
    container_name: diveni_proxy
    restart: unless-stopped
    ports:
      - "80:80"
    healthcheck:
      test: curl --fail http://localhost:80/health || exit 1
      interval: 60s
      timeout: 30s
      retries: 3
      start_period: 30s

volumes:
  mongo-volume:
