#URL the server is running on
SERVER_URL=http://localhost:8080

#The locale the frontend should be set to
LOCALE=en


#ClientId and ClientSecret are shown in the Atlassion Developer app settings
JIRA_CLOUD_CLIENTID=0XeKG8gq0JWWAShLLUv6Y27Zh8B9pPt8
JIRA_CLOUD_CLIENTSECRET=EJmAzc3yi1mXhlHEUx7kNDxa8VrbrH6NE79_839izauaWHGoBGnT9iRs90h9N1t9

#URL for the authorization server from Jira Cloud
JIRA_CLOUD_AUTHORIZE_URL=https://auth.atlassian.com/authorize?...

#The estimation field is a customfield which is different for every Jira instance and must therefore be set manually
JIRA_CLOUD_ESTIMATIONFIELD=customfield_10016


#URL to the Jira Server instance
JIRA_SERVER_JIRAHOME=http://localhost:8080

#Consumer key can be set in the Jira application link
JIRA_SERVER_CONSUMERKEY=OauthKey

#Private key from jira_privatekey.pcks8
JIRA_SERVER_PRIVATEKEY=[key]

#The estimation field is a customfield which is different for every Jira instance and must therefore be set manually
JIRA_SERVER_ESTIMATIONFIELD=customfield_estimation

#Used for ordering of the issues. Depends on the Jira language and is either RANK or RANG
JIRA_SERVER_RANKNAME=RANK



#The name of the organization in Azure
AZURE_ORGANIZATION=organization

#Azure Personal Access Token
AZURE_CLIENTPAT=xxx
