/* all variables, see node_modules/bootstrap/scss/_variables.scss */
:root {
  /*Background Colors*/
  --background-color-primary: #e2e2e2;
  --blurredColour1: #94623400;
  --blurredColour2: rgba(0, 0, 0, 0.219);
  --blurredColour3: rgba(216, 125, 6, 0);
  --blurredColour4: rgba(17, 9, 0, 0);
  --blurredColour7: #658462;
  --blurredColour8: rgba(192, 175, 156, 0.4);

  /* Bottom */
  --blurredColour5: rgba(6, 1, 8, 0.24);
  --blurredColour6: rgba(80, 80, 80, 0.219);

  /*other basic stuff*/
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --text-color-hover: #ffffff;
  --element-size: 6rem;
  --link-color: #2d5ea1;
  --box-shadow: #cacaca;
  --btn-border-color: rgb(185, 185, 185);

  /*Landing Page*/
  --primary-button: #946234e0;
  --primary-button-hovered: #b2661d;
  --secondary-button: #658462;
  --secondary-button-hovered: #3e803a;
  --reconnectButton: #822e1c;
  --reconnectButtonHovered: #9e2e15;
  --pictureGradientEnd: rgba(19, 44, 20, 0.5);
  --landingPageCardsBackground: #e4e4e4;
  --blurBackGroundColor: rgba(170, 170, 170, 0.25);

  /*Prepare page*/
  --preparePageMainColor: #946234;
  --preparePageInActiveTab: #ffffff;
  --preparePageInActiveTabHover: #718a6f91;
  --preparePageBorderTab: grey;
  --preparePageImportUserStoriesButton: #30a858;
  --preparePageActiveCardSet: black;
  --preparePageInActiveCardSet: #e27712;
  --preparePageTimerBackground: rgba(192, 175, 156, 0.4);
  --preparePageNotSelectedTabBackground: rgba(192, 175, 156, 0.4);

  /*Session Page*/
  --textAreaColour: rgba(192, 175, 156, 0.4);
  --textAreaColourHovered: #c3c7bdb6;
  --estimateButtonBorder: #ccd5da;

  /*other Stuff*/
  --topNavigationBarColor: rgba(200, 200, 200, 0.75);
  --popUpMenu: rgb(201, 201, 201);

  /*Editor*/
  --editor-toolbar-switch-bg: #7a777773;
  --editor-defaultui-container-bg: #3e4b6c;
}

/* Define styles for the root window with dark - mode preference */
:root.dark {
  /*Background Colors*/
  --background-color-primary: #010617;
  --blurredColour1: rgba(76, 134, 185, 0.219);
  --blurredColour2: rgba(167, 236, 219, 0.534);
  --blurredColour3: rgba(151, 199, 241, 0.37);
  --blurredColour4: rgba(255, 255, 255, 0.329);
  --blurredColour7: #42104b;
  --blurredColour8: rgba(137, 152, 187, 0.4);

  /* Bottom */
  --blurredColour5: rgba(211, 167, 236, 0.322);
  --blurredColour6: rgba(170, 128, 180, 0.301);

  /*other basic stuff*/
  --accent-color: rgba(34, 34, 34, 0.863);
  --text-primary-color: #ffffff;
  --text-color-hover: #000000;
  --link-color: #4c93f3;
  --box-shadow: rgba(137, 152, 187, 0.4);
  --btn-border-color: rgb(100, 100, 100);

  /*Landing Page*/
  --primary-button: #13276d;
  --primary-button-hovered: #0f2fa2;
  --secondary-button: #42104b;
  --secondary-button-hovered: #631975;
  --reconnectButton: #822e1c;
  --reconnectButtonHovered: #9e2e15;
  --landingPageCardsBackground: rgba(75, 75, 75, 0.5);
  --blurBackGroundColor: rgba(75, 75, 75, 0.40);
  --pictureGradientEnd: rgba(44, 19, 32, 0.5);

  /*Prepare Page*/
  --preparePageMainColor: #13276d;
  --preparePageInActiveTab: #666565;
  --preparePageInActiveTabHover: #42104b;
  --preparePageBorderTab: white;
  --preparePageImportUserStoriesButton: #7e5a0c;
  --preparePageActiveCardSet: white;
  --preparePageInActiveCardSet: #e27712;
  --preparePageTimerBackground: rgba(137, 152, 187, 0.4);
  --preparePageNotSelectedTabBackground: rgba(137, 152, 187, 0.4);

  /*Session Page*/
  --textAreaColour: rgba(137, 152, 187, 0.4);
  --textAreaColourHovered: #a8e8f6b9;
  --estimateButtonBorder: #ccd5da;

  /*other Stuff*/
  --topNavigationBarColor: rgba(34, 34, 34, 0.863);
  --popUpMenu: rgb(201, 201, 201);

  /*Editor*/
  --editor-toolbar-switch-bg: #7a777773;
  --editor-defaultui-container-bg: #3e4b6c;
}

$border-radius:               0.8rem !default;
$border-radius-lg:            0.9rem !default;
$border-radius-sm:            1rem !default;


