<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./log"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <springProfile name="prod">
        <root level="warn">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="io.diveni" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="warn">
            <appender-ref ref="Console"/>
        </root>
        <logger name="org.springframework" level="info">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="io.diveni" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="default">
        <root level="warn">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="io.diveni" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>
